<form action="#" #form>

    <div class="grid">

        <label for="profissional">Profissional</label>
        <select name="profissional" id="profissional" required>
            <option value="">Selecione</option>
            <option value="1">Profissional A</option>
            <option value="2">Profissional B</option>
            <option value="3">Profissional C</option>
            <option value="4">Profissional D</option>
            <option value="5">Profissional E</option>
        </select>

        <label for="data">Data</label>
        <input type="date" name="data" id="data" required>

        <label for="hora">Hora</label>
        <select name="hora" id="hora" required>
            <option value="">Selecione</option>
            <option value="14:00">14:00</option>
            <option value="14:30">14:30</option>
            <option value="15:00">15:00</option>
            <option value="15:30">15:30</option>
            <option value="16:00">16:00</option>
            <option value="16:30">16:30</option>
            <option value="17:00" disabled>17:00</option>
            <option value="17:30">17:30</option>
            <option value="18:00">18:00</option>
            <option value="18:30">18:30</option>
            <option value="19:00">19:00</option>
            <option value="19:30">19:30</option>
            <option value="20:00">20:00</option>
        </select>

        <label for="convenio">Convênio</label>
        <select name="convenio" id="convenio" required>
            <option value="">Selecione</option>
            <option value="1">Convênio A</option>
            <option value="2">Convênio B</option>
            <option value="3">Convênio C</option>
            <option value="4">Convênio D</option>
            <option value="5">Convênio E</option>
        </select>

        <label for="paciente">Paciente</label>
        <select name="paciente" id="paciente" required>
            <option value="">Selecione</option>
            <option value="1">Paciente A</option>
            <option value="2">Paciente B</option>
            <option value="3">Paciente C</option>
            <option value="4">Paciente D</option>
            <option value="5">Paciente E</option>
        </select>

    </div>

    <input type="button" value="Cancelar" (click)="Cancelar()">
    <input type="submit" value="Salvar">
</form>