<form (submit)="save(form)" #form="ngForm">

    <div class="grid">

    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" required
            [(ngModel)]="registro.nome">

    <label for="registroConselho">Registro</label>
    <input type="text" name="registroConselho" id="registroConselho" required
            [(ngModel)]="registro.registroConselho">

    <label for="telefone">Telefone</label>
    <input type="text" name="telefone" id="telefone" required
            [(ngModel)]="registro.telefone">

    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" required
            [(ngModel)]="registro.email">

    <label for="especialidade">Especialidade</label>
    <select name="especialidade" id="especialidade" required
            [(ngModel)]="registro.especialidade"
            [compareWith]="compareById">
        <option value=""></option>
        <option *ngFor="let item of especialidades"
            [ngValue]="item">{{ item.nome }}</option>
    </select>

    <label for="unidade">Unidade</label>
    <select name="unidade" id="unidade" required
            [(ngModel)]="registro.unidade"
            [compareWith]="compareById">
        <option value=""></option>
        <option *ngFor="let item of unidades"
            [ngValue]="item">{{ item.nome }}</option>
    </select>

    </div>

    <input type="button" value="Cancelar" routerLink="../">
    <input type="submit" value="Salvar" [disabled]="form.disabled">

</form>