<app-barra-comandos (eventoBusca)="get($event)" [addButton]="false"></app-barra-comandos>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<table>
    <thead app-thead-ordenacao
        [colunas]="colunas"
        (eventoOrdenacao)="ordenar($event)"
    ></thead>
    <tbody>
        <tr *ngFor="let item of registros">
            <td class="fit">{{ item.data | date:'dd/MM/yyyy' }}</td>
            <td class="fit">{{ item.hora | slice:0:5 }}</td>
            <td>{{ item.paciente.nome }}</td>
            <td>{{ item.profissional.nome }}</td>
            <td>{{ item.profissional.unidade.nome }}</td>
            <td>{{ item.convenio?.nome }}</td>
            <td>{{ item.status }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                Total de registros: {{ this.paginaResposta.numberOfElements }} / {{ this.paginaResposta.totalElements }}
            </td>
        </tr>
    </tfoot>
</table>
<app-paginacao 
    [totalItens]="paginaResposta.totalElements"
    [totalPaginas]="paginaResposta.totalPages"
    [paginaAtual]="paginaResposta.number"
    [tamanhoPagina]="paginaResposta.size"
    (paginaSelecionada)="mudarPagina($event)"
    (tamanhoPaginaSelecionada)="mudarTamanhoPagina($event)"
>
    <div divDireita class="divDireita">
        <!-- <input type="text" 
                [(ngModel)]="searchText" 
                (focus)="search($event)" 
                (focusout)="search($event)">
        <ul class="list-group statuses">
            <li class="list-group-item list-group-item-action"
                    *ngFor="let status of StatusNaoSelecionados"
                    (click)="selectStatus(status)">
                {{ status }}
            </li>
        </ul> -->
        <!-- <div class="custom-select" style="width:200px;"> -->
            <select ngModel (ngModelChange)="selectStatus($event)">
                <!-- <option [ngValue]="undefined"></option> -->
                <option 
                        *ngFor="let status of StatusNaoSelecionados" 
                        [ngValue]="status">
                    {{status}}
                </option>
            </select>
        <!-- </div> -->
        <span 
                class="badge text-bg-primary"
                *ngFor="let statusSelecionado of SelectedStatus">
            {{ statusSelecionado }}
            <span class="material-icons chip-close" (click)="removeStatus(statusSelecionado)">close</span>
        </span>
    </div>
</app-paginacao>
