.badge{
    --bs-badge-padding-x:0.65em;
    --bs-badge-padding-y:0.35em;
    --bs-badge-font-size:0.75em;
    --bs-badge-font-weight:700;
    --bs-badge-color:#fff;
    --bs-badge-border-radius:0.375rem;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size:var(--bs-badge-font-size);
    font-weight:var(--bs-badge-font-weight);
    line-height:1;
    color:var(--bs-badge-color);
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:var(--bs-badge-border-radius)
}
.badge:empty{
    display:none
}

.btn .badge{
    position:relative;
    top:-1px
}

.btn .badge{
    position:relative;
    top:-1px
}

.text-bg-primary {
    color:#fff!important;
    background-color:RGBA(13,110,253,var(--bs-bg-opacity,1)) !important
}

.list-group-item-action {
    cursor: pointer;
}

.chip-close {
    font-size: 1rem;
    margin-left: 0.5rem;
}

.chip-close:hover {
    cursor: pointer;
    color: rgb(245, 152, 15);
}

.badge {
    align-items: center;
    margin-top: 0.25rem;
    margin-left: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

.statuses {
    display: flex;
    flex-wrap: wrap;
}
