<app-barra-comandos (eventoBusca)="get($event)">
    <a (click)="goFirstPage()">&#11164;</a>
    <a (click)="goPreviousPage()">&#8617;</a>
    {{ this.curr_page }}
    <a (click)="goNextPage()">&#8618;</a>
    <a (click)="goLastPage()">&#11166;</a>
</app-barra-comandos>
<table>
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Usuário</th>
        <th>Ativo</th>
        <th>Papel</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of registros">
            <td>{{ item.id }}</td>
            <td>{{ item.nomeCompleto }}</td>
            <td>{{ item.nomeUsuario }}</td>
            <td>{{ item.ativo ? "Sim" : "Não" }}</td>
            <td>{{ item.papel }}</td>
            <td>
                <a class="botao"
                   routerLink="./form"
                   [queryParams]="{id: item.id}">Editar</a>
                <a class="botao excluir"
                    (click)="delete(item.id)">Excluir</a>
            </td>
        </tr>
    </tbody>
</table>

<div id="pepeDiv">
    <div class="textoNormal" style="display: none;">Sem Registros para essa busca</div>
    <img src="../../../assets/imagens/pepe-the-frog-sleep.gif" id="pepeImage" style="display: none;">
</div>

<div id="tableFooter" style="justify-content: space-between;">
    <div>
        <select (change)="setPageSize(+pageSize.value)" #pageSize>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div>
        Total de registros: {{ registros.length }}
    </div>
    <div>
        <a (click)="goFirstPage()">&#11164;</a>
        <a (click)="goPreviousPage()">&#8617;</a>
        {{ this.curr_page }}
        <a (click)="goNextPage()">&#8618;</a>
        <a (click)="goLastPage()">&#11166;</a>
    </div>
</div>