<app-barra-comandos (eventoBusca)="get($event)" [addButton]="false"></app-barra-comandos>

<table>
    <thead #tableHeader>
        <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Paciente</th>
            <th>Profissional</th>
            <th>Unidade</th>
            <th>Convênio</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of registros">
            <td class="fit">{{ item.data | date:'dd/MM/yyyy' }}</td>
            <td class="fit">{{ item.hora | slice:0:5 }}</td>
            <td>{{ item.paciente.nome }}</td>
            <td>{{ item.profissional.nome }}</td>
            <td>{{ item.profissional.unidade.nome }}</td>
            <td>{{ item.convenio?.nome }}</td>
            <td>
                <a class="botao iniciar"
                   href=""
                   (click)="updateStatus(item.id);$event.preventDefault();"
                   [ngClass]="{ 'inativo': item.status == 'ATENDIMENTO' }">Iniciar</a>
                <a class="botao finalizar excluir"
                   href=""
                   (click)="updateStatus(item.id);$event.preventDefault();"
                   [ngClass]="{ 'inativo': item.status == 'CHEGADA' }">Finalizar</a>
            </td>
        </tr>
    </tbody>
</table>
