<app-barra-comandos (eventoBusca)="get($event)">
    <div divEsquerda>
        <select (change)="setPageSize(+pageSize.value)" #pageSize>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div divDireita>
        <a (click)="goFirstPage()">&#11164;</a>
        <a (click)="goPreviousPage()">&#8617;</a>
        {{ this.curr_page }}
        <a (click)="goNextPage()">&#8618;</a>
        <a (click)="goLastPage()">&#11166;</a>
    </div>
    <select name="unidades" id="id_especialidade" (change)="filtraPorUnidade(unidade.value)" #unidade divDireita>
        <option value="0"></option>
        <option *ngFor="let u of unidades" [ngValue]="u">{{u.nome}}</option>
    </select>
    <select name="especialidades" id="id_especialidade" (change)="filtraPorEspecialidade(especialidade.value)" #especialidade divDireita>
        <option value="0"></option>
        <option *ngFor="let e of especialidades" [ngValue]="e">{{e.nome}}</option>
    </select>
</app-barra-comandos>
<table>
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Registro</th>
        <th>Especialidade</th>
        <th>Unidade</th>
        <th>Telefone</th>
        <th>E-mail</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of profissionaisFiltrados">
            <td class="fit">{{ item.id }}</td>
            <td>{{ item.nome }}</td>
            <td>{{ item.registroConselho }}</td>
            <td>{{ item.especialidade.nome }}</td>
            <td>{{ item.unidade.nome }}</td>
            <td>{{ item.telefone }}</td>
            <td>{{ item.email }}</td>
            <td>
                <a class="botao"
                   routerLink="./form"
                   [queryParams]="{id: item.id}">Editar</a>
                <a class="botao excluir"
                    (click)="delete(item.id)">Excluir</a>
            </td>
        </tr>
    </tbody>
</table>

<div id="pepeDiv">
    <div class="textoNormal" style="display: none;">Sem Registros para essa busca</div>
    <img src="../../../assets/imagens/pepe-the-frog-sleep.gif" id="pepeImage" style="display: none;">
</div>

<div id="tableFooter" style="justify-content: space-between;">
    <div>
        <select (change)="setPageSize(+pageSize.value)" #pageSize>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div>
        Total de registros: {{ registros.length }}
    </div>
    <div>
        <a (click)="goFirstPage()">&#11164;</a>
        <a (click)="goPreviousPage()">&#8617;</a>
        {{ this.curr_page }}
        <a (click)="goNextPage()">&#8618;</a>
        <a (click)="goLastPage()">&#11166;</a>
    </div>
</div>