<app-barra-comandos (eventoBusca)="get($event)"></app-barra-comandos>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-item [ngForOf]="registros">
            <tr (click)="showSubTable(item.id)" class="clickable">
                <td [attr.rowspan]="isShowing(item.id) ? '2' : null"> 
                    <span *ngIf="!isShowing(item.id)">&#9660;</span> 
                    <span *ngIf="isShowing(item.id)">&#9650;</span> 
                    {{ item.id }} 
                </td>
                <td> {{ item.nome }}</td>
                <td>
                    <a class="botao"
                    routerLink="./form"
                    [queryParams]="{id: item.id}">Editar</a>
                    <a class="botao excluir"
                        (click)="delete(item.id)">Excluir</a>
                </td>
            </tr>
            <tr *ngIf="isShowing(item.id)">
                <td colspan="2">
                    <table>
                        <thead>
                            <tr>
                                <th class="colOne">ID</th>
                                <th>Médico</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let profissional of item.profissionais">
                                <td> {{ profissional?.id }} </td>
                                <td> {{ profissional?.nome }} </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </ng-template>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total de registros: {{ registros.length }} / {{ total }}</td>
        </tr>
    </tfoot>
</table>