<!DOCTYPE html>
<html>
    <body>
        <main>
            <div id="comandos">
                <a routerLink="./form"
                   class="botao"
                   id="add">
                    Adicionar
                </a>
                <div>
                    <label for="busca">Busca</label>
                    <input type="search" name="busca" id="busca"
                           placeholder="Digite para buscar">
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Paciente</th>
                        <th>Profissional</th>
                        <th>Unidade</th>
                        <th>Convênio</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of registros">
                        <td class="fit">{{ item.data }}</td>
                        <td class="fit">{{ item.hora }}</td>
                        <td>{{ item.paciente.nome }}</td>
                        <td>{{ item.profissional.nome }}</td>
                        <td>{{ item.profissional.unidade.nome }}</td>
                        <td>{{ item.convenio.nome }}</td>
                        <td>
                            <a href="javascript:void(0)" class="botao chegada inativo">Chegada</a>
                            <a href="javascript:void(0)" class="botao confirmacao">Confirmar</a>
                            <a href="javascript:void(0)" class="botao">Editar</a>
                            <a class="botao excluir"
                                (click)="delete(item.id)">Cancelar</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">Total de registros: 5</td>
                    </tr>
                </tfoot>
            </table>
        </main>
    </body>
</html>